<header class="loader-header" id="#loader-header" >

  <h1 class="loader-logo">
      <div class="wow rotateIn">Angular JS</div>
      <div>Project - Mindtree</div>
  </h1>

  <div class="loader-loader">
      <svg class="loader-inner" width="120px" height="120px" viewBox="0 0 80 80">
          <path class="loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
          <path id="loader-circle" class="loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
      </svg>
  </div>

</header>
